*{
    margin:0;
    padding: 0;
}

header{
    background: orangered;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    position: sticky;
    color: white;
    top: 0px;
    position: relative;
  }

.Titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    padding-left: 425px;
}

#cart{
    font-size: 25px;
}

#counter_cart{
    font-size: 25px;
}

#container_products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-top: 5rem;
        justify-content: center;
        place-items: center;            
    }

.card{
    display: flex;
    flex-direction: column;
    align-items: center;            
    width: 275px;
    margin: 0 auto;
    background:orangered;
    box-shadow: 0 0 30px orange;
    border-style: double;
    border-color: #34495E;
    border-radius: 10px;
    padding: 25px 16px;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

 .card h2{
  font-size: 30px;
 }

.btn_carts{
    background-color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

footer {
    background-color: #34495E;
    padding: 50px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 75px;
}

footer h1{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

footer p{
    text-align: end;
    padding-top:50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#icon{
    font-size: 80px;
    color: black;
}

